<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
	<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />
<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='33%'/>
	<col width='33%'/>
	<col width='33%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_item_id_combo","query-smnrelitemcodimpuesto.sql")'>${lbl:b_item}</th>
		<th class='sortable' onclick='sortBy("smn_codigos_impuestos_id_combo","query-smnrelitemcodimpuesto.sql")'>${lbl:b_taxes}</th>
		<th class='sortable' onclick='sortBy("rii_fecha_registro","query-smnrelitemcodimpuesto.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_item_cod_impuesto_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_item_cod_impuesto_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_item_cod_impuesto_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_item_id_combo}</td>
		<td>${fld:smn_codigos_impuestos_id_combo}</td>
		<td>${fld:rii_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
