<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>

	<!--toolbar-->
	<tr>
		<th colspan="10">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('prs_codigo','query-smnprestadoresservicios.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('prs_nombres','query-smnprestadoresservicios.sql')" >${lbl:s_profile_fname}</th>
		<th class='sortable' onclick="sortBy('prs_apellidos','query-smnprestadoresservicios.sql')" >${lbl:s_profile_lname}</th>
		<th class='sortable' onclick="sortBy('prs_area_servicio','query-smnprestadoresservicios.sql')" >${lbl:b_service_area}</th>
		<th class='sortable' onclick="sortBy('prs_unidad_servicio','query-smnprestadoresservicios.sql')" >${lbl:b_service_unit}</th>
		<th class='sortable' onclick="sortBy('prs_auxiliar','query-smnprestadoresservicios.sql')" >${lbl:b_auxiliary}</th>
		<th class='sortable' onclick="sortBy('prs_fecha_registro','query-smnprestadoresservicios.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_prestadores_servicios_id}')" title="Ver detalle"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_prestadores_servicios_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_prestadores_servicios_id}')" title="Editar"></td>
		<td align="left">${fld:prs_codigo}</td>
		<td align="left">${fld:prs_nombres}</td>
		<td align="left">${fld:prs_apellidos}</td>
		<td align="left">${fld:prs_area_servicio}</td>
		<td align="left">${fld:prs_unidad_servicio}</td>
		<td align="left">${fld:prs_auxiliar}</td>
		<td align="center">${fld:prs_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
