<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmenutraduccion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnmenutraduccion.sql' sheetname='${lbl:b_menu_translation}' filename='smn_menu_traduccion.xls'>
		<col id='mnt_app_id' label='${lbl:b_application}' />
		<col id='mnt_menu_id' label='${lbl:b_menu}' />
		<col id='mnt_title' label='${lbl:b_menu_title}' />
		<col id='mnt_locale_combo' label='${lbl:b_idiom}' />
		<col id='mnt_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>