<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Registro de usuario - insertar usuario en BD
	</summary>
	
	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="getuserrole.sql" source="sql" scope="transaction"/>
		<recordset id="getid.sql" source="sql" scope="request"/>
	</transaction>

	<query>insert.sql</query>
	<query>insert-passlog.sql</query>
	<query params="getuserrole.sql">insert-roles1.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

	<mail enabled="true">
		<subject recordset="_request">Confirmación de Registro de ${fld:fname} ${fld:lname}</subject>
		<mail-to recordset="_request" colname="email"/>
		<body recordset="getid.sql">message.txt</body>
	</mail>

</config>
