<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnbaremosdetalle.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_baremos_detail}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_baremos_detail}">
				<col id='smn_baremos_id_combo' label='${lbl:b_baremo}' />
		<col id='smn_servicios_rf_combo' label='${lbl:b_service}' />
		<col id='bad_tipo_componente_combo' label='${lbl:b_type}' />
		<col id='smn_clase_auxiliar_rf_combo' label='${lbl:b_auxiliary_class}' />
		<col id='smn_item_rf_combo' label='${lbl:b_item}' />
		<col id='smn_almacen_rf_combo' label='${lbl:b_store_code}' />
		<col id='bad_cantidad' label='${lbl:b_amount}' />
		<col id='bad_precio_moneda_local' label='${lbl:b_coin_local_price}' />
		<col id='smn_moneda_rf_combo' label='${lbl:b_coin}' />
		<col id='bad_precio_moneda_alterna' label='${lbl:b_coin_altern_price}' />
		<col id='smn_descuento_rf_combo' label='${lbl:b_discount}' />
		<col id='bad_estatus' label='${lbl:b_status}' />
		<col id='bad_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
