<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smndireccion.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>dir_codigo</colname>
			<colname>dir_descripcion</colname>
			<colname>dir_pais</colname>
			<colname>dir_entidad_federal</colname>
			<colname>dir_ciudad</colname>
			<colname>dir_municipio</colname>
			<colname>dir_parroquia</colname>
			<colname>dir_zona_postal</colname>
			<colname>dir_fecha_registro_ini</colname>
			<colname>dir_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_base.smn_direccion</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smndireccion.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>dir_codigo;dir_descripcion;dir_pais;dir_entidad_federal;dir_ciudad;dir_municipio;dir_parroquia;dir_zona_postal;dir_fecha_registro_ini;dir_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
