<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnconfiguracionestructura.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_structure_configuration}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smnconfiguracionestructura.sql' width='100' spacingBefore='40'>
			<col name='coe_codigo' title='${lbl:b_code}' width='16' align='left' />
			<col name='coe_nombre' title='${lbl:b_name} ' width='16' align='left' />
			<col name='coe_niveles' title='${lbl:b_levels}' width='16' align='center' format='######' />
			<col name='coe_mascara' title='${lbl:b_mask}' width='16' align='left' />
			<col name='coe_separador' title='${lbl:b_separator}' width='16' align='left' />
			<col name='coe_fecha_registro' title='${lbl:b_store_date}' width='16' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>