<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_variable}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_smn_variable}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_smn_variable}' width='60' spacingBefore='40'>
			<col name='tva_codigo_pl0' title='${lbl:b_smn_tipo_variable_id}' align='left' />
			<col name='var_codigo' title='${lbl:b_var_codigo}' align='left' />
			<col name='var_descripción' title='${lbl:b_var_descripcion}' align='left' />
			<col name='var_estatus_combo' title='${lbl:b_status}' align='left' />
			<col name='var_idioma' title='${lbl:s_profile_lang}' align='left' />
			<col name='var_usuario' title='${lbl:b_users}' align='left' />
			<col name='var_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
			<col name='var_hora' title='${lbl:s_loginhist_col2}' align='left' />
		</record>


	</pdf-report>
</config>
