<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncomunidades.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smncomunidades.sql' sheetname='${lbl:b_communities}' filename='smn_comunidades.xls'>
		<col id='cmn_codigo' label='${lbl:b_code}' />
		<col id='cmn_nombre' label='${lbl:b_name}' />
		<col id='cmn_unidad_negocio' label='${lbl:b_business_unit}' />
		<col id='cmn_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>