<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnseccion.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_seccion}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_smn_seccion}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='sec_codigo' title='${lbl:b_sec_codigo}'  align='left' />
			<col name='sec_descripcion' title='${lbl:b_sec_descripcion}'  align='left' />
			<col name='sec_estatus' title='${lbl:b_status}'  align='left' />
			<col name='sec_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='sec_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnseccion.sql' width='100' spacingBefore='10'>
			<col name='sec_codigo' title='${lbl:b_sec_codigo}' width='14' align='left' />
			<col name='sec_descripcion' title='${lbl:b_sec_descripcion}' width='14' align='left' />
			<col name='sec_estatus_combo' title='${lbl:b_status}' width='14' align='left' />
			<col name='sec_idioma' title='${lbl:s_profile_lang}' width='14' align='left' />
			<col name='sec_usuario' title='${lbl:s_profile_lang}' width='14' align='left' />
			<col name='sec_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='sec_hora' title='${lbl:s_loginhist_col2}' width='14' align='left' />

		</record>

	</pdf-report>
</config>
