<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnterceroscorporaciones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnterceroscorporaciones.sql' sheetname='${lbl:b_corporations}' filename='filter.xls'>
		<col id='ter_descripcion_corta_pl0' label='${lbl:b_outsourced_company}' />
		<col id='tcp_codigo' label='${lbl:b_code}' />
		<col id='tcp_nombre' label='${lbl:b_name}' />
		<col id='tcp_moneda' label='${lbl:b_coin}' />
		<col id='tcp_direccion' label='${lbl:b_address}' />
		<col id='tcp_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>