<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
		<recordset id='detail-smnseccion.sql' source='session' scope='transaction' />
		<recordset id='detail-smnrelcuestionarioseccion.sql' source='session' scope='transaction' />
		<recordset id='detail-smnrespuesta.sql' source='session' scope='transaction' />
		<recordset id='detail-smnrelprocesorespuesta.sql' source='session' scope='transaction' />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_cuestionario}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_smn_cuestionario}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_smn_cuestionario}' width='60' spacingBefore='40'>
			<col name='cue_codigo' title='${lbl:b_cue_codigo}' align='left' />
			<col name='cue_descripcion' title='${lbl:b_cue_descripcion}' align='left' />
			<col name='smn_modulo_rf_combo' title='${lbl:b_smn_modulo_rf}' align='left' format='######' />
			<col name='smn_esquema_rf_combo' title='${lbl:b_smn_esquema_rf}' align='left' format='######' />
			<col name='smn_campo_rf_combo' title='${lbl:b_smn_campo_rf}' align='left' format='######' />
			<col name='cue_estatus_combo' title='${lbl:b_status}' align='left' />
			<col name='cue_idioma' title='${lbl:s_profile_lang}' align='left' />
			<col name='cue_usuario' title='${lbl:b_users}' align='left' />
			<col name='cue_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
			<col name='cue_hora' title='${lbl:s_loginhist_col2}' align='left' />
		</record>
		<table recordset='detail-smnseccion.sql' width='100' spacingBefore='40'>
			<col name='smn_seccion_id' title='${lbl:b_smn_seccion_id}' width='11' align='left' format='######' />
			<col name='sec_codigo' title='${lbl:b_sec_codigo}' width='11' align='left' />
			<col name='sec_descripcion' title='${lbl:b_sec_descripcion}' width='11' align='left' />
			<col name='sec_secuencia' title='${lbl:b_sec_secuencia}' width='11' align='left' format='######' />
			<col name='sec_estatus_combo' title='${lbl:b_status}' width='11' align='left' />
			<col name='cue_idioma' title='${lbl:s_profile_lang}' width='11' align='left' />
			<col name='cue_usuario' title='${lbl:s_profile_lang}' width='11' align='left' />
			<col name='cue_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='cue_hora' title='${lbl:s_loginhist_col2}' width='11' align='left' />
		</table>
		<table recordset='detail-smnrelcuestionarioseccion.sql' width='100' spacingBefore='40'>
			<col name='smn_rel_cuestionario_seccion_id' title='${lbl:b_smn_rel_cuestionario_seccion_id}' width='50' align='left' format='######' />
		</table>
		<table recordset='detail-smnrespuesta.sql' width='100' spacingBefore='40'>
			<col name='smn_respuesta_id' title='${lbl:b_smn_respuesta_id}' width='9' align='left' format='######' />
			<col name='smn_tipo_respuesta_id_combo' title='${lbl:b_smn_tipo_respuesta_id}' width='9' align='left' format='######' />
			<col name='smn_variable_id' title='${lbl:b_smn_variable}' width='9' align='left' format='######' />
			<col name='res_texto_respuesta' title='${lbl:b_res_texto_respuesta}' width='9' align='left' />
			<col name='cue_idioma' title='${lbl:s_profile_lang}' width='9' align='left' />
			<col name='cue_usuario' title='${lbl:b_users}' width='9' align='left' />
			<col name='cue_fecha_registro' title='${lbl:b_store_date}' width='9' align='left' format='dd-MM-yyyy' />
			<col name='cue_hora' title='${lbl:s_loginhist_col2}' width='9' align='left' />
		</table>
		<table recordset='detail-smnrelprocesorespuesta.sql' width='100' spacingBefore='40'>
			<col name='smn_rel_proceso_respuesta_id' title='${lbl:b_smn_rel_proceso_respuesta_id}' width='11' align='left' format='######' />
			<col name='smn_modulo_rf_combo' title='${lbl:b_smn_modulo_rf}' width='11' align='left' format='######' />
			<col name='smn_esquema_rf_combo' title='${lbl:b_smn_esquema_rf}' width='11' align='left' format='######' />
			<col name='smn_campo_rf_combo' title='${lbl:b_smn_campo_rf}' width='11' align='left' format='######' />
			<col name='smn_respuesta_id' title='${lbl:b_smn_respuesta_id}' width='11' align='left' format='######' />
			<col name='cue_idioma' title='${lbl:s_profile_lang}' width='11' align='left' />
			<col name='cue_usuario' title='${lbl:b_users}' width='11' align='left' />
			<col name='cue_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='cue_hora' title='${lbl:s_loginhist_col2}' width='11' align='left' />
		</table>


	</pdf-report>
</config>
