<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("gti_codigo","query-smngrupotituloimpresion.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("gti_descripcion","query-smngrupotituloimpresion.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("gti_orden","query-smngrupotituloimpresion.sql")'>${lbl:b_orden}</th>
		<th class='sortable' onclick='sortBy("gti_estatus_combo","query-smngrupotituloimpresion.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("gti_fecha_vigencia","query-smngrupotituloimpresion.sql")'>${lbl:b_validation_date}</th>
		<th class='sortable' onclick='sortBy("gti_fecha_registro","query-smngrupotituloimpresion.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_grupo_titulo_impresion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_grupo_titulo_impresion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_grupo_titulo_impresion_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:gti_codigo}</td>
		<td align='left'>${fld:gti_descripcion}</td>
		<td align='center'>${fld:gti_orden}</td>
		<td align='center'>${fld:gti_estatus_combo}</td>
		<td>${fld:gti_fecha_vigencia@dd-MM-yyyy}</td>
		<td>${fld:gti_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
