<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_addresses}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_addresses}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_addresses}' width='60' spacingBefore='40'>
			<col name='dir_codigo' title='${lbl:b_code}' align='left' />
			<col name='dir_descripcion' title='${lbl:b_description}' align='left' />
			<col name='pai_nombre_corto' title='${lbl:b_country}' align='left'  />
			<col name='efe_nombre_corto' title='${lbl:b_federal_entity}' align='left'  />
			<col name='ciu_nombre_corto' title='${lbl:b_city}' align='left'  />
			<col name='mun_nombre_corto' title='${lbl:b_municipality}' align='left'  />
			<col name='prr_nombre_corto' title='${lbl:b_parish}' align='left'  />
			<col name='zpo_codigo' title='${lbl:b_postal_zone}' align='left'  />
			<col name='tiv_descripcion' title='${lbl:b_type_of_route}' align='left'  />
			<col name='tiv_descripcion_nom' title='${lbl:b_name}' align='left' />
			<col name='tiv_descripcion_num' title='${lbl:b_number}' align='left' />
			<col name='edf_descripcion' title='${lbl:b_edification}' align='left'  />
			<col name='edf_descripcion_nom' title='${lbl:b_name}' align='left' />
			<col name='edf_descripcion_num' title='${lbl:b_number}' align='left' />
			<col name='til_descripcion' title='${lbl:b_location_type}' align='left'  />
			<col name='til_descripcion_nom' title='${lbl:b_name}' align='left' />
			<col name='dir_apartado_postal' title='${lbl:b_postal_mail}' align='left' />
			<col name='dir_mapa_longitud' title='${lbl:b_longitude}' align='left' format='#,###,##0.00' />
			<col name='dir_mapa_latitud' title='${lbl:b_latitude}' align='left' format='#,###,##0.00' />
			<col name='dir_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
		</record>


	</pdf-report>
</config>
