<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnplantilladetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_detail_stencil}"/>
	
	<excel 
		recordset='query-smnplantilladetalle.sql' 
		sheetname='${lbl:b_detail_stencil}' 
		filename='${lbl:b_detail_stencil}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_plantilla_cabecera_id' label='${lbl:b_header_stencil}' />
		<col id='smn_seccion_rf' label='${lbl:b_section}' />
		<col id='pde_sec_seccion' label='${lbl:b_sec_section}' />
		<col id='smn_pregunta_rf' label='${lbl:b_question}' />
		<col id='pde_sec_pregunta' label='${lbl:b_sec_question}' />
		<col id='pde_status' label='${lbl:b_status}' />
		<col id='pde_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
