	<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
	<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />
<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='10%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='9%'/>
	<col width='12%'/>
	<col width='10%'/>
	<col width='9%'/>
	<col width='12%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("ent_codigo","query-smnentidades.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("ent_descripcion_larga","query-smnentidades.sql")'>${lbl:b_long_description}</th>
		<th class='sortable' onclick='sortBy("ent_descripcion_corta","query-smnentidades.sql")'>${lbl:b_short_description}</th>
		<th class='sortable' onclick='sortBy("ent_maneja_sucursal_combo","query-smnentidades.sql")'>${lbl:b_has_subsidiary}</th>
		<th class='sortable' onclick='sortBy("crp_nombre","query-smnentidades.sql")'>${lbl:b_corporation}</th>
		<th class='sortable' onclick='sortBy("smn_tipo_contribuyente_rf_combo","query-smnentidades.sql")'>${lbl:b_type_contribuyent}</th>
		<th class='sortable' onclick='sortBy("ent_estatus_combo","query-smnentidades.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("ent_fecha_registro","query-smnentidades.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_entidades_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_entidades_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_entidades_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:ent_codigo}</td>
		<td align='left'>${fld:ent_descripcion_larga}</td>
		<td align='left'>${fld:ent_descripcion_corta}</td>
		<td align='center'>${fld:ent_maneja_sucursal_combo}</td>
		<td align='left'>${fld:crp_nombre}</td>
		<td align='center'>${fld:smn_tipo_contribuyente_rf_combo}</td>
		<td align='center'>${fld:ent_estatus_combo}</td>
		<td>${fld:ent_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
