<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Ver resultado de consulta del detalle
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="detail-smn_auxiliar_medico.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=iso-8859-1</content-type>
		<print mode="table" recordset="detail-smn_auxiliar_medico.sql" tag="rows" alternate-colors="true" />
	</output>

</config>
