<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncondicionpago-template.sql" source="sql" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_condition_payments}.xls'    
		header-background='true' >
		
	<sheet recordset="query-smncondicionpago-template.sql" sheetname="${lbl:b_condition_payments}">
		
		<col id='cop_codigo' label='${lbl:b_code}' />
		<col id='cop_descripcion' label='${lbl:b_description}' />

	</sheet>
	
	</excel>

</config>
