<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncodigosimpuestos.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smncodigosimpuestos.sql' sheetname='${lbl:b_taxes}' filename='smn_codigos_impuestos.xls'>
		<col id='imp_codigo' label='${lbl:b_code}' />
		<col id='imp_descripcion' label='${lbl:b_description}' />
		<col id='imp_tipo_codigo_combo' label='${lbl:b_code_type}' />
		<col id='imp_modalidad_registro_combo' label='${lbl:b_where_is_registered}' />
		<col id='imp_tipo_persona_combo' label='${lbl:b_kind_of_person}' />
		<col id='imp_tipo_contribuyente_combo' label='${lbl:b_type_of_taxpayer}' />
		<col id='imp_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>