<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpaises.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_countries}"/>
	
	<excel 
		recordset='query-smnpaises.sql' 
		sheetname='${lbl:b_countries}' 
		filename='${lbl:b_countries}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='pai_codigo' label='${lbl:b_code}' />
		<col id='pai_nombre_largo' label='${lbl:b_long_name}' />
		<col id='pai_gentilicio' label='${lbl:b_citizenship}' />
		<col id='pai_codigo_ddi' label='${lbl:b_international_dailing_code}' />
		<col id='idi_descripcion' label='${lbl:b_official_lenguage}' />
		<col id='mon_nombre' label='${lbl:b_official_coin}' />
		<col id='pai_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
