<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">

	<col width='100%'/>


	<!--toolbar-->
	<tr>
		<th colspan="2">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('suc_codigo','query-smnsucursales.sql')" class="sortable" >${lbl:b_code}</th>
		<th onclick="sortBy('suc_nombre','query-smnsucursales.sql')" class="sortable" >${lbl:b_name}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_sucursales_id}')" >
		<td style="font-size: 9pt;" align="center"><span id="${fld:smn_sucursales_id}">${fld:suc_codigo}</span></td>
		<td style="font-size: 9pt;" align="center">${fld:suc_nombre}</td>
	</tr>
	</rows>

</table>