<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnconexiones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_conexiones_bd}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_conexiones_bd}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnconexiones.sql' width='100' spacingBefore='40'>
			<col name='con_sistema' title='${lbl:b_system}' width='7' align='left' />
			<col name='con_descripcion' title='${lbl:b_description}' width='7' align='left' />
			<col name='smn_entidad_rf' title='${lbl:b_company}' width='7' align='left' format='######' />
			<col name='smn_sucursal_rf' title='${lbl:b_subsidiary}' width='7' align='left' format='######' />
			<col name='con_ip_servidor' title='${lbl:b_ip_server}' width='7' align='left' />
			<col name='con_hostname_instancia' title='${lbl:b_server_name}' width='7' align='left' />
			<col name='con_nombre_bd' title='${lbl:b_database_name}' width='7' align='left' />
			<col name='con_usuario_bd' title='${lbl:b_database_user}' width='7' align='left' />
			<col name='con_clave_bd' title='${lbl:b_database_password}' width='7' align='left' />
			<col name='con_puerto_bd' title='${lbl:b_database_port}' width='7' align='left' />
			<col name='con_estatus' title='${lbl:b_status}' width='7' align='left' />
			<col name='con_vigencia' title='${lbl:b_effectivity_date}' width='7' align='left' format='dd-MM-yyyy' />
			<col name='con_usuario' title='${lbl:b_users}' width='7' align='left' />

		</record>

	</pdf-report>
</config>
