<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>

	<!--toolbar-->
	<tr>
		<th colspan="7">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("imp_codigo","query-smncodigosimpuestos.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("imp_descripcion","query-smncodigosimpuestos.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("imp_tipo_codigo_combo","query-smncodigosimpuestos.sql")'>${lbl:b_code_type}</th>
		<th class='sortable' onclick='sortBy("imp_tipo_persona_combo","query-smncodigosimpuestos.sql")'>${lbl:b_kind_of_person}</th>
		<th class='sortable' onclick='sortBy("imp_tipo_contribuyente_combo","query-smncodigosimpuestos.sql")'>${lbl:b_type_of_taxpayer}</th>
		<th class='sortable' onclick='sortBy("imp_unidad_impositiva","query-smncodigosimpuestos.sql")'>${lbl:b_tax_unit}</th>
		<th class='sortable' onclick='sortBy("imp_fecha_registro","query-smncodigosimpuestos.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:imp_codigo}</td>
		<td align='left'>${fld:imp_descripcion}</td>
		<td align='left'>${fld:imp_tipo_codigo_combo}</td>
		<td align='left'>${fld:imp_tipo_persona_combo}</td>
		<td align='left'>${fld:imp_tipo_contribuyente_combo}</td>
		<td align='left'>${fld:imp_unidad_impositiva}</td>
		<td>${fld:imp_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
