<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntercerosunidadesnegocios.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_business_unit}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='smn_terceros_id_name' title='${lbl:b_outsourced_company}'  align='center' />
		</record>
		<table recordset='query-smntercerosunidadesnegocios.sql' width='100' spacingBefore='10'>
			<col name='ter_descripcion_corta_pl0' title='${lbl:b_outsourced_company}' width='11' align='left' />
			<col name='tun_codigo' title='${lbl:b_code}' width='11' align='left' />
			<col name='tun_nombre' title='${lbl:b_name}' width='11' align='left' />
			<col name='tun_responsable' title='${lbl:b_responsible}' width='11' align='left' />
			<col name='tun_direccion' title='${lbl:b_address}' width='11' align='left' format='######' />
			<col name='tun_telefono_fijo' title='${lbl:b_fixed_phone}' width='11' align='left' />
			<col name='tun_telefono_movil' title='${lbl:b_mobile_phone}' width='11' align='left' />
			<col name='tun_email' title='${lbl:s_profile_email}' width='11' align='left' />
			<col name='tun_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>