<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcategoria.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_auxiliary}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smnauxiliarcategoria.sql' width='100' spacingBefore='40'>
			<col name='aca_codigo' title='${lbl:b_code}' width='20' align='left' />
			<col name='aca_descripcion' title='${lbl:b_description}' width='20' align='left' />
			<col name='aca_clase_auxiliar' title='${lbl:b_auxiliary_class}' width='20' align='left' format='######' />
			<col name='aca_tipo_persona_combo' title='${lbl:b_kind_of_person}' width='20' align='left' />
			<col name='aca_fecha_registro' title='${lbl:b_store_date}' width='20' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>