	<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
	<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />

<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='30%'/>
	<col width='30%'/>
	<col width='30%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('naa_codigo','query-smnnaturalezaauxiliar.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('naa_nombre','query-smnnaturalezaauxiliar.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('naa_fecha_registro','query-smnnaturalezaauxiliar.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_naturaleza_auxiliar_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_naturaleza_auxiliar_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_naturaleza_auxiliar_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:naa_codigo}</td>
		<td align="left">${fld:naa_nombre}</td>
		<td align="center">${fld:naa_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
