<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntransacciongeneral.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smntransacciongeneral.sql' sheetname='${lbl:b_general_transaction}' filename='filter.xls'>
		<col id='trg_codigo' label='${lbl:b_code}' />
		<col id='trg_descripcion' label='${lbl:b_description}' />
		<col id='trg_modulo_origen' label='${lbl:b_module}' />
		<col id='trg_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>