<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnreltransdocumpaso.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_rel_trans_docum_paso}"/>
	
	<excel 
		recordset='query-smnreltransdocumpaso.sql' 
		sheetname='${lbl:b_rel_trans_docum_paso}' 
		filename='${lbl:b_rel_trans_docum_paso}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_transaccion_general_rf_combo' label='${lbl:b_transaccion_general}' />
		<col id='smn_documentos_generales_rf_combo' label='${lbl:b_documentos_generales}' />
		<col id='smn_paso_id_combo' label='${lbl:b_paso}' />
		<col id='tpa_tiempo_paso' label='${lbl:b_time_step}' />
		<col id='smn_nivel_aprobacion_inicial_rf_combo' label='${lbl:b_nivel_aprobacion_inicial}' />
		<col id='smn_nivel_aprobacion_final_rf_combo' label='${lbl:b_nivel_aprobacion_final}' />
		<col id='tpa_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
