<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpregunta.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_smn_pregunta}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_smn_pregunta}">
				<col id='tva_codigo_pl0' label='${lbl:b_smn_tipo_variable_id}' />
		<col id='prg_codigo' label='${lbl:b_prg_codigo}' />
		<col id='prg_descripcion' label='${lbl:b_prg_descripcion}' />
		<col id='prg_tipo_respuesta_combo' label='${lbl:b_prg_tipo_respuesta}' />
		<col id='sec_estatus_combo' label='${lbl:b_status}' />
		<col id='cue_idioma' label='${lbl:s_profile_lang}' />
		<col id='cue_usuario' label='${lbl:b_users}' />
		<col id='cue_fecha_registro' label='${lbl:s_loginhist_col2}' />

	</sheet>
	
	</excel>

</config>
