<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnespecialidad.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnespecialidad.sql' sheetname='${lbl:b_specialities}' filename='smn_especialidad.xls'>
		<col id='esp_codigo' label='${lbl:b_code}' />
		<col id='esp_descripcion' label='${lbl:b_description}' />
		<col id='esp_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>