<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>

	<!--toolbar-->
	<tr>
		<th colspan="7">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("aca_tipo_persona_pl0","query-smnauxiliartercero.sql")'>${lbl:b_auxiliary}</th>
		<th class='sortable' onclick='sortBy("atr_codigo","query-smnauxiliartercero.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("atr_descripcion","query-smnauxiliartercero.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("atr_auxiliar_corporacion","query-smnauxiliartercero.sql")'>${lbl:b_outsourced_corporation}</th>
		<th class='sortable' onclick='sortBy("atr_auxiliar_unidad_negocio","query-smnauxiliartercero.sql")'>${lbl:b_outsourced_unit_business}</th>
		<th class='sortable' onclick='sortBy("atr_razon_social","query-smnauxiliartercero.sql")'>${lbl:b_business_name}</th>
		<th class='sortable' onclick='sortBy("atr_fecha_registro","query-smnauxiliartercero.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:aca_tipo_persona_pl0}</td>
		<td align='left'>${fld:atr_codigo}</td>
		<td align='left'>${fld:atr_descripcion}</td>
		<td align='left'>${fld:atr_auxiliar_corporacion}</td>
		<td align='left'>${fld:atr_auxiliar_unidad_negocio}</td>
		<td align='left'>${fld:atr_razon_social}</td>
		<td>${fld:atr_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
