<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('pca_codigo','query-smnplantillacabecera.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('pca_descripcion','query-smnplantillacabecera.sql')" >${lbl:b_description}</th>
		<th class='sortable' onclick="sortBy('smn_modulo_rf','query-smnplantillacabecera.sql')" >${lbl:b_modules}</th>
		<th class='sortable' onclick="sortBy('pca_status','query-smnplantillacabecera.sql')" >${lbl:b_status}</th>
		<th class='sortable' onclick="sortBy('pca_fecha_registro','query-smnplantillacabecera.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_plantilla_cabecera_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_plantilla_cabecera_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_plantilla_cabecera_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:pca_codigo}</td>
		<td align="left">${fld:pca_descripcion}</td>
		<td align="left">${fld:smn_modulo_rf}</td>
		<td align="left">${fld:pca_status}</td>
		<td align="center">${fld:pca_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
