<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcentrocosto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnauxiliarcentrocosto.sql' sheetname='${lbl:b_cost_centers}' filename='filter_full.xls'>
		<col id='tco_codigo' label='${lbl:b_code}' />
		<col id='tco_descripcion_corta' label='${lbl:b_short_description}' />
		<col id='tco_descripcion_larga' label='${lbl:b_long_description}' />
		<col id='tco_clase_auxiliar' label='${lbl:b_auxiliary_class}' />
		<col id='tco_auxiliar' label='${lbl:b_auxiliary}' />
		<col id='tco_responsable' label='${lbl:b_responsible}' />
		<col id='tco_tipo_cco_combo' label='${lbl:b_type}' />
		<col id='tco_nivel' label='${lbl:b_level}' />
		<col id='tco_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>