<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelcuesseccpreg.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="1" cellStep="0" name="${lbl:b_smn_rel_cues_secc_preg}"/>
	
	<excel 
		recordset='query-smnrelcuesseccpreg.sql' 
		sheetname='${lbl:b_smn_rel_cues_secc_preg}' 
		filename='${lbl:b_smn_rel_cues_secc_preg}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_rel_cuestionario_seccion_id' label='${lbl:b_smn_rel_cuestionario_seccion_id}' />
		<col id='prg_codigo_pl1' label='${lbl:b_smn_pregunta_id}' />

	</excel>

</config>
