<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnserviciotraduccion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="0" cellPosX="4" cellStep="0" name="${lbl:b_service_translation}"/>
	
	<excel 
		recordset='query-smnserviciotraduccion.sql' 
		sheetname='${lbl:b_service_translation}' 
		filename='${lbl:b_service_translation}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='app_alias' label='${lbl:b_application}' />
		<col id='title' label='${lbl:b_menu}' />
		<col id='description' label='${lbl:b_service}' />
		<col id='set_servicio' label='${lbl:b_service_title}' />
		<col id='set_locale_combo' label='${lbl:b_idiom}' />
		<col id='set_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
