<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcategoria.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_auxiliary}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_auxiliary}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnauxiliarcategoria.sql' width='100' spacingBefore='40'>
			<col name='naa_nombre' title='${lbl:b_auxiliary_class}' width='12' align='left'  />
			<col name='aca_tipo_persona_combo' title='${lbl:b_kind_of_person}' width='12' align='left' />
			<col name='ent_descripcion_corta' title='${lbl:b_entity}' width='12' align='left'  />
			<col name='suc_nombre' title='${lbl:b_subsidiary}' width='12' align='left'  />
			<col name='uen_nombre' title='${lbl:b_business_unit}' width='12' align='left'  />
			<col name='ase_descripcion' title='${lbl:b_service_area}' width='12' align='left'  />
			<col name='uns_descripcion' title='${lbl:b_service_unit}' width='12' align='left'  />
			<col name='aca_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
