<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcuentabancaria.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_auxiliary_bank_account}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='acb_num_cuenta' title='${lbl:b_account_number}'  align='center' />
			<col name='acb_tipo_cta_banco' title='${lbl:b_account_bank_type}'  format='######' align='center' />
			<col name='acb_respons_cuenta' title='${lbl:b_responsible}'  align='center' />
			<col name='acb_banco_pertenece' title='${lbl:b_bank}'  format='######' align='center' />
			<col name='acb_fecha_registro_ini' title='${lbl:b_store_date_grater_than}'  format='dd-MM-yyyy' align='center' />
			<col name='acb_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnauxiliarcuentabancaria.sql' width='100' spacingBefore='10'>
			<col name='acb_num_cuenta' title='${lbl:b_account_number}' width='16' align='left' />
			<col name='acb_tipo_cta_banco' title='${lbl:b_account_bank_type}' width='16' align='left' format='######' />
			<col name='acb_respons_cuenta' title='${lbl:b_responsible}' width='16' align='left' />
			<col name='acb_banco_pertenece' title='${lbl:b_bank}' width='16' align='left' format='######' />
			<col name='acb_num_aba' title='${lbl:b_aba_code}' width='16' align='left' />
			<col name='acb_fecha_registro' title='${lbl:b_store_date}' width='16' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>