<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>

	<!--toolbar-->
	<tr>
		<th colspan="7">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th class='sortable' onclick='sortBy("afc_codigo","query-smnafiliaciones.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("afc_descripcion","query-smnafiliaciones.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("acf_auxiliar_persona_natural","query-smnafiliaciones.sql")'>${lbl:b_person_assistant}</th>
		<th class='sortable' onclick='sortBy("afc_modulo","query-smnafiliaciones.sql")'>${lbl:b_module}</th>
		<th class='sortable' onclick='sortBy("afc_titular","query-smnafiliaciones.sql")'>${lbl:b_person_assistant}</th>
		<th class='sortable' onclick='sortBy("afc_parentezco","query-smnafiliaciones.sql")'>${lbl:b_relationship}</th>
		<th class='sortable' onclick='sortBy("afc_fecha_registro","query-smnafiliaciones.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td align='left'>${fld:afc_codigo}</td>
		<td align='left'>${fld:afc_descripcion}</td>
		<td align='left'>${fld:acf_auxiliar_persona_natural}</td>
		<td align='left'>${fld:afc_modulo}</td>
		<td align='left'>${fld:afc_titular}</td>
		<td align='left'>${fld:afc_parentezco}</td>
		<td>${fld:afc_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
