<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='33%'/>
	<col width='33%'/>
	<col width='33%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("mar_codigo","query-smnmarca.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("mar_descripcion","query-smnmarca.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("mar_fecha_registro","query-smnmarca.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_marca_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_marca_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_marca_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:mar_codigo}</td>
		<td align='left'>${fld:mar_descripcion}</td>
		<td align='left'>${fld:mar_fecha_registro}</td>

	</tr>
	</rows>

</table>
