<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntercerosmodulos.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_modules}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smntercerosmodulos.sql' width='100' spacingBefore='40'>
			<col name='ter_descripcion_corta_pl0' title='${lbl:b_outsourced_company}' width='20' align='left' />
			<col name='smn_app_id' title='${lbl:s_loginhist_col4}' width='20' align='left' format='######' />
			<col name='trm_codigo' title='${lbl:b_code}' width='20' align='left' />
			<col name='trm_nombre' title='${lbl:b_name}' width='20' align='left' />
			<col name='trm_fecha_registro' title='${lbl:b_store_date}' width='20' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>