<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnalmacen.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_stores}"/>
	
	<excel 
		recordset='query-smnalmacen.sql' 
		sheetname='${lbl:b_stores}' 
		filename='${lbl:b_stores}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='alm_codigo' label='${lbl:b_code}' />
		<col id='alm_nombre' label='${lbl:b_name}' />
		<col id='ent_descripcion_corta' label='${lbl:b_entity}' />
		<col id='uen_nombre' label='${lbl:b_business_unit}' />
		<col id='suc_nombre' label='${lbl:b_subsidiary}' />
		<col id='ase_descripcion' label='${lbl:b_service_area}' />
		<col id='uns_descripcion' label='${lbl:b_service_unit}' />
		<col id='alm_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
