<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntercerossucursales.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_subsidiaries}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='smn_terceros_id_name' title='${lbl:b_outsourced_company}'  align='center' />
			<col name='trs_codigo' title='${lbl:b_code}'  align='center' />
			<col name='trs_nombre' title='${lbl:b_name}'  align='center' />
			<col name='trs_responsable' title='${lbl:b_responsible}'  align='center' />
			<col name='trs_fecha_registro_ini' title='${lbl:b_store_date_grater_than}'  format='dd-MM-yyyy' align='center' />
			<col name='trs_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smntercerossucursales.sql' width='100' spacingBefore='10'>
			<col name='ter_descripcion_corta_pl0' title='${lbl:b_outsourced_company}' width='8' align='left' />
			<col name='trs_codigo' title='${lbl:b_code}' width='8' align='left' />
			<col name='trs_nombre' title='${lbl:b_name}' width='8' align='left' />
			<col name='trs_responsable' title='${lbl:b_responsible}' width='8' align='left' />
			<col name='trs_direccion' title='${lbl:b_address}' width='8' align='left' format='######' />
			<col name='trs_telefono_fijo' title='${lbl:b_fixed_phone}' width='8' align='left' />
			<col name='trs_telefono_movil' title='${lbl:b_mobile_phone}' width='8' align='left' />
			<col name='trs_email' title='${lbl:s_profile_email}' width='8' align='left' />
			<col name='trs_idioma' title='${lbl:s_profile_lang}' width='8' align='left' />
			<col name='trs_usuario' title='${lbl:b_users}' width='8' align='left' />
			<col name='trs_fecha_registro' title='${lbl:b_store_date}' width='8' align='left' format='dd-MM-yyyy' />
			<col name='trs_hora' title='${lbl:s_loginhist_col2}' width='8' align='left' />
		</table>

	</pdf-report>
</config>