<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcentrocosto.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_cost_lefts}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_cost_lefts}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='tco_codigo' title='${lbl:b_code}'  align='left' />
			<col name='tco_descripcion_larga' title='${lbl:b_long_description}'  align='left' />
			<col name='tco_clase_auxiliar' title='${lbl:b_auxiliary_class}'   align='left' />
			<col name='smn_item' title='${lbl:b_auxiliary}'   align='left' />
			<col name='tco_responsable' title='${lbl:b_responsible}'  align='left' />
			<col name='tco_tipo_cco' title='${lbl:b_type}'  align='left' />

		</record>
		<record recordset='query-smnauxiliarcentrocosto.sql' width='100' spacingBefore='10'>
			<col name='tco_codigo' title='${lbl:b_code}' width='11' align='left' />
			<col name='tco_descripcion_corta' title='${lbl:b_short_description}' width='11' align='left' />
			<col name='tco_descripcion_larga' title='${lbl:b_long_description}' width='11' align='left' />
			<col name='cla_nombre' title='${lbl:b_auxiliary_class}' width='11' align='left'  />
			<col name='smn_item' title='${lbl:b_auxiliary}' width='11' align='left'  />
			<col name='tco_responsable' title='${lbl:b_responsible}' width='11' align='left' />
			<col name='tco_tipo_cco_combo' title='${lbl:b_type}' width='11' align='left' />
			<col name='tco_nivel' title='${lbl:b_level}' width='11' align='left'  />
			<col name='tco_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
