<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>

	<!--toolbar-->
	<tr>
		<th colspan="9">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>



		<th class='sortable' onclick="sortBy('fer_codigo','query-smnferiados.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('fer_descripcion','query-smnferiados.sql')" >${lbl:b_description}</th>
		<th class='sortable' onclick="sortBy('fer_pais','query-smnferiados.sql')" >${lbl:b_country}</th>
		<th class='sortable' onclick="sortBy('fer_entidad_federal','query-smnferiados.sql')" >${lbl:b_federal_entities}</th>
		<th class='sortable' onclick="sortBy('fer_ciudad','query-smnferiados.sql')" >${lbl:b_city}</th>
		<th class='sortable' onclick="sortBy('fer_municipio','query-smnferiados.sql')" >${lbl:b_municipality}</th>
		<th class='sortable' onclick="sortBy('fer_feriado','query-smnferiados.sql')" >${lbl:b_holliday}</th>
		<th class='sortable' onclick="sortBy('fer_laborable_combo','query-smnferiados.sql')" >${lbl:b_workable}</th>
		<th class='sortable' onclick="sortBy('fer_fecha_registro','query-smnferiados.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>



		<td align="left">${fld:fer_codigo}</td>
		<td align="left">${fld:fer_descripcion}</td>
		<td align="left">${fld:fer_pais}</td>
		<td align="left">${fld:fer_entidad_federal}</td>
		<td align="left">${fld:fer_ciudad}</td>
		<td align="left">${fld:fer_municipio}</td>
		<td align="left">${fld:fer_feriado}</td>
		<td align="left">${fld:fer_laborable_combo}</td>
		<td align="left">${fld:fer_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
