<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>

	<!--toolbar-->
	<tr>
		<th colspan="11">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>



		<th class='sortable' onclick="sortBy('suc_empresa','query-smnsucursales.sql')" >${lbl:b_entity}</th>
		<th class='sortable' onclick="sortBy('suc_codigo','query-smnsucursales.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('suc_nombre','query-smnsucursales.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('suc_unidad_negocio','query-smnsucursales.sql')" >${lbl:b_business_unit}</th>
		<th class='sortable' onclick="sortBy('suc_maneja_area_servicio_combo','query-smnsucursales.sql')" >${lbl:b_has_service_area}</th>
		<th class='sortable' onclick="sortBy('suc_responsable','query-smnsucursales.sql')" >${lbl:b_responsible}</th>
		<th class='sortable' onclick="sortBy('suc_direccion','query-smnsucursales.sql')" >${lbl:b_address}</th>
		<th class='sortable' onclick="sortBy('suc_telefono_fijo','query-smnsucursales.sql')" >${lbl:b_fixed_phone}</th>
		<th class='sortable' onclick="sortBy('suc_telefono_movil','query-smnsucursales.sql')" >${lbl:b_mobile_phone}</th>
		<th class='sortable' onclick="sortBy('suc_email','query-smnsucursales.sql')" >${lbl:s_profile_email}</th>
		<th class='sortable' onclick="sortBy('suc_fecha_registro','query-smnsucursales.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>



		<td align="left">${fld:suc_empresa}</td>
		<td align="left">${fld:suc_codigo}</td>
		<td align="left">${fld:suc_nombre}</td>
		<td align="left">${fld:suc_unidad_negocio}</td>
		<td align="left">${fld:suc_maneja_area_servicio_combo}</td>
		<td align="left">${fld:suc_responsable}</td>
		<td align="left">${fld:suc_direccion}</td>
		<td align="left">${fld:suc_telefono_fijo}</td>
		<td align="left">${fld:suc_telefono_movil}</td>
		<td align="left">${fld:suc_email}</td>
		<td align="left">${fld:suc_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
