<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_entities}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-ent_comunidad.sql' source='sql' scope='transaction'/><recordset id='query-ent_corporacion.sql' source='sql' scope='transaction'/><recordset id='query-ent_moneda.sql' source='sql' scope='transaction'/><recordset id='query-ent_sector_economico.sql' source='sql' scope='transaction'/><recordset id='query-ent_direccion.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-ent_comunidad.sql' tag='ent_comunidad_rows'/><print mode='table' recordset='query-ent_corporacion.sql' tag='ent_corporacion_rows'/><print mode='table' recordset='query-ent_moneda.sql' tag='ent_moneda_rows'/><print mode='table' recordset='query-ent_sector_economico.sql' tag='ent_sector_economico_rows'/><print mode='table' recordset='query-ent_direccion.sql' tag='ent_direccion_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
