<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_auxiliar_categoria_id</colname>
			<colname>atr_codigo</colname>
			<colname>atr_descripcion</colname>
			<colname>atr_comunidad</colname>
			<colname>atr_auxiliar_corporacion</colname>
			<colname>atr_auxiliar_unidad_negocio</colname>
			<colname>atr_maneja_sucursal</colname>
			<colname>atr_razon_social</colname>
			<colname>atr_denom_comercial</colname>
			<colname>atr_beneficiario</colname>
			<colname>atr_tipo_doc_oficial</colname>
			<colname>atr_num_doc_oficial</colname>
			<colname>atr_clasif_abc</colname>
			<colname>atr_rif</colname>
			<colname>atr_direccion</colname>
			<colname>atr_cuenta_bancaria</colname>
			<colname>atr_contactos</colname>
			<colname>atr_persona_contacto</colname>
			<colname>atr_representante_legal</colname>
			<colname>atr_benef_pago</colname>
			<colname>atr_cond_pago</colname>
			<colname>atr_tipo_facturac</colname>
			<colname>atr_condicion_financiera</colname>
			<colname>atr_observacion</colname>
		
		</cols>
		<table>smn_base.smn_auxiliar_tercero</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_base.seq_smn_auxiliar_tercero} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>martin.cordova@gmail.com</mail-to>
		<body>body.txt</body>
	</mail>

</config>
