<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnestructurauen.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnestructurauen.sql' sheetname='${lbl:b_business_unit_structure}' filename='smn_estructura_uen.xls'>
		<col id='eue_aplica_uen_combo' label='${lbl:b_apply_business_unit}' />
		<col id='eue_aplica_auxiliar_uen_combo' label='${lbl:b_apply_auxiliary}' />
		<col id='eue_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>