<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnconfiguracionestructura-template.sql" source="sql" scope="transaction" />		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_structure_configuration}.xls'
		header-background='true'  >
		
	<sheet recordset="query-smnconfiguracionestructura-template.sql" sheetname="${lbl:b_structure_configuration}">
		
		<col id='coe_codigo' label='${lbl:b_code}' />
		<col id='coe_nombre' label='${lbl:b_name}' />
		<col id='coe_niveles' label='${lbl:b_levels}' />
		<col id='coe_mascara' label='${lbl:b_mask}' />
		<col id='coe_separador' label='${lbl:b_separator}' />
		
	</sheet>
	
	</excel>

</config>
