<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>

	<!--toolbar-->
	<tr>
		<th colspan="8">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('mnt_app_id','query-smnmenutraduccion.sql')" >${lbl:b_application}</th>
		<th class='sortable' onclick="sortBy('mnt_menu_id','query-smnmenutraduccion.sql')" >${lbl:b_menu}</th>
		<th class='sortable' onclick="sortBy('mnt_title','query-smnmenutraduccion.sql')" >${lbl:b_menu_title}</th>
		<th class='sortable' onclick="sortBy('mnt_locale_combo','query-smnmenutraduccion.sql')" >${lbl:b_idiom}</th>
		<th class='sortable' onclick="sortBy('mnt_fecha_registro','query-smnmenutraduccion.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_menu_traduccion_id}')" title="Ver detalle"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_menu_traduccion_id}')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_menu_traduccion_id}')" title="Editar"></td>
		<td align="left">${fld:mnt_app_id}</td>
		<td align="left">${fld:mnt_menu_id}</td>
		<td align="left">${fld:mnt_title}</td>
		<td align="left">${fld:mnt_locale_combo}</td>
		<td align="center">${fld:mnt_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
