<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="false">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcorporaciones-template.sql" source="sql" scope="transaction" />
		<recordset id='query-smnauxiliarunidadesnegocios.sql' source='sql' scope='transaction' />
		<recordset id='query-smndireccion.sql' source='sql' scope='transaction' />
		<recordset id='query-smnmonedas.sql' source='sql' scope='transaction' />
	</transaction>

	<output>
		<classname>domain.repgen.smn_configuracion.smn_auxiliares.smn_auxiliar_corporaciones.ExcelReportOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_outsourced_corporations}.xls'      
		header-background='true' >
		
	<sheet recordset="query-smnauxiliarcorporaciones-template.sql" sheetname="${lbl:b_outsourced_corporations}">
		
		<col id='tcp_codigo' label='${lbl:b_code}' />
		<col id='tcp_nombre' label='${lbl:b_name}' />
		<col id='tcp_auxiliar_unidad_negocio' label='${lbl:b_outsourced_unit_business}' />
		<col id='tcp_moneda' label='${lbl:b_coin}' />
		<col id='tcp_direccion' label='${lbl:b_address}' />
		
		<col id='tcp_auxiliar_unidad_negocio_reference' label='${lbl:b_outsourced_unit_business}' />
		<col id='tcp_moneda_reference' label='${lbl:b_coin}' />
		<col id='tcp_direccion_reference' label='${lbl:b_address}' />

	</sheet>
	
	<sheet recordset='query-smnauxiliarunidadesnegocios.sql' sheetname='${lbl:b_outsourced_unit_business}'>
		<col id='tun_nombre' label='${lbl:b_name}' />
	</sheet>

	<sheet recordset='query-smndireccion.sql' sheetname='${lbl:b_address}'>
		<col id='dir_descripcion' label='${lbl:b_description}' />
	</sheet>

	<sheet recordset='query-smnmonedas.sql' sheetname='${lbl:b_coin}'>
		<col id='mon_nombre' label='${lbl:b_name}' />
	</sheet>

	</excel>

</config>
