<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntipovia.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="0" cellPosX="2" cellStep="0" name="${lbl:b_types_of_routes}"/>
	
	<excel 
		recordset='query-smntipovia.sql' 
		sheetname='${lbl:b_types_of_routes}' 
		filename='${lbl:b_types_of_routes}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='tiv_codigo' label='${lbl:b_code}' />
		<col id='tiv_descripcion' label='${lbl:b_description}' />
		<col id='tiv_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
