<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />
		<recordset id='detail-smnauxiliarmedico.sql' source='session' scope='transaction' />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_auxiliary}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_auxiliary}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_auxiliary}' width='60' spacingBefore='40'>
			<col name='naa_nombre' title='${lbl:b_auxiliary_class}' align='left' />
			<col name='aca_tipo_persona_combo' title='${lbl:b_kind_of_person}' align='left' />
			<col name='ent_descripcion_corta' title='${lbl:b_entity}' align='left'  />
			<col name='suc_nombre' title='${lbl:b_subsidiary}' align='left' />
			<col name='uen_nombre' title='${lbl:b_business_unit}' align='left' />
			<col name='ase_descripcion' title='${lbl:b_service_area}' align='left' />
			<col name='uns_descripcion' title='${lbl:b_service_unit}' align='left' />
			<col name='aca_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
		</record>
		<record recordset='detail-smnauxiliarmedico.sql' width='100' spacingBefore='40'>
			<col name='aam_codigo' title='${lbl:b_code}' width='3' align='left' />
			<col name='aam_descripcion' title='${lbl:b_description}' width='3' align='left' />
			<col name='aam_nombres' title='${lbl:s_profile_fname}' width='3' align='left' />
			<col name='aam_apellidos' title='${lbl:s_profile_lname}' width='3' align='left' />
			<col name='tdo_descripcion' title='${lbl:b_official_document_type}' width='3' align='left'  />
			<col name='aam_num_doc_oficial' title='${lbl:b_official_document_number}' width='3' align='left' />
			<col name='aam_fecha_nac' title='${lbl:b_birth_date}' width='3' align='left' format='dd-MM-yyyy' />
			<col name='aam_lugar_nac' title='${lbl:b_birth_place}' width='3' align='left' />
			<col name='aam_rif' title='${lbl:b_tax_id}' width='3' align='left' />
			<col name='pai_gentilicio' title='${lbl:b_citizenship}' width='3' align='left'  />
			<col name='aam_nacionalizado_combo' title='${lbl:b_nationalized}' width='3' align='left' />
			<col name='aam_sexo_combo' title='${lbl:b_sex}' width='3' align='left' />
			<col name='aam_estado_civil_combo' title='${lbl:b_civil_status}' width='3' align='left'  />
			<col name='dir_descripcion' title='${lbl:b_business_address}' width='3' align='left'  />
			<col name='acb_num_cuenta' title='${lbl:b_auxiliary_bank_account}' width='3' align='left'  />
			<col name='acn_telefono_fijo' title='${lbl:b_auxiliary_contact}' width='3' align='left'  />
			<col name='aam_num_gaceta' title='${lbl:b_nationalization_gazette}' width='3' align='left'  />
			<col name='aam_fecha_gaceta_nac' title='${lbl:b_date_of_naturalization}' width='3' align='left' format='dd-MM-yyyy' />
			<col name='cfn_descripcion' title='${lbl:b_financial_condition}' width='3' align='left'  />
			<col name='aam_persona_contacto' title='${lbl:b_contact_person}' width='3' align='left' />
			<col name='aam_num_minist_salud' title='${lbl:b_number_health_ministry}' width='3' align='left' />
			<col name='aam_num_coleg_medicos' title='${lbl:b_number_medical_school}' width='3' align='left' />
			<col name='aam_clasif_abc_combo' title='${lbl:b_abc_clasification}' width='3' align='left' />
			<col name='aam_representante_legal' title='${lbl:b_legal_representative}' width='3' align='left' />
			<col name='aam_benef_pago' title='${lbl:b_beneficiary_payments}' width='3' align='left' />
			<col name='cop_descripcion' title='${lbl:b_condition_payments}' width='3' align='left'  />
			<col name='aam_observacion' title='${lbl:b_observation}' width='3' align='left' />
			<col name='aam_fecha_registro' title='${lbl:b_store_date}' width='3' align='left' format='dd-MM-yyyy' />
		</record>
	</pdf-report>
</config>
