<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='30%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='14%'/>
	<col width='12%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("dir_codigo","query-smndireccion.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("dir_descripcion","query-smndireccion.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("pai_nombre_corto","query-smndireccion.sql")'>${lbl:b_country}</th>
		<th class='sortable' onclick='sortBy("efe_nombre_corto","query-smndireccion.sql")'>${lbl:b_federal_entity}</th>
		<th class='sortable' onclick='sortBy("ciu_nombre_corto","query-smndireccion.sql")'>${lbl:b_city}</th>
		<th class='sortable' onclick='sortBy("mun_nombre_corto","query-smndireccion.sql")'>${lbl:b_municipality}</th>
		<th class='sortable' onclick='sortBy("dir_fecha_registro","query-smndireccion.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_direccion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_direccion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_direccion_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:dir_codigo}</td>
		<td align='left'>${fld:dir_descripcion}</td>
		<td align='left'>${fld:pai_nombre_corto}</td>
		<td align='left'>${fld:efe_nombre_corto}</td>
		<td align='left'>${fld:ciu_nombre_corto}</td>
		<td align='left'>${fld:mun_nombre_corto}</td>
		<td>${fld:dir_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
