<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsucursales.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_subsidiaries}"/>
	
	<excel 
		recordset='query-smnsucursales.sql' 
		sheetname='${lbl:b_subsidiaries}' 
		filename='${lbl:b_subsidiaries}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='ent_descripcion_corta' label='${lbl:b_entity}' />
		<col id='suc_codigo' label='${lbl:b_code}' />
		<col id='suc_nombre' label='${lbl:b_name}' />
		<col id='uen_nombre' label='${lbl:b_business_unit}' />
		<col id='suc_maneja_area_servicio_combo' label='${lbl:b_has_service_area}' />
		<col id='suc_responsable' label='${lbl:b_responsible}' />
		<col id='dir_descripcion' label='${lbl:b_address}' />
		<col id='suc_telefono_fijo' label='${lbl:b_fixed_phone}' />
		<col id='suc_telefono_movil' label='${lbl:b_mobile_phone}' />
		<col id='suc_email' label='${lbl:s_profile_email}' />
		<col id='suc_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
