<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnplantilladetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_detail_stencil}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_detail_stencil}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnplantilladetalle.sql' width='100' spacingBefore='40'>
			<col name='smn_plantilla_cabecera_id' title='${lbl:b_header_stencil}' width='14' align='left' format='######' />
			<col name='smn_seccion_rf' title='${lbl:b_section}' width='14' align='left' format='######' />
			<col name='pde_sec_seccion' title='${lbl:b_sec_section}' width='14' align='left' format='######' />
			<col name='smn_pregunta_rf' title='${lbl:b_question}' width='14' align='left' format='######' />
			<col name='pde_sec_pregunta' title='${lbl:b_sec_question}' width='14' align='left' format='######' />
			<col name='pde_status' title='${lbl:b_status}' width='14' align='left' />
			<col name='pde_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
