<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnterceroscentrocosto.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_cost_centers}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='smn_terceros_id_name' title='${lbl:b_outsourced_company}'  align='center' />
			<col name='trc_codigo' title='${lbl:b_code}'  align='center' />
			<col name='trc_responsable' title='${lbl:b_responsible}'  align='center' />
			<col name='trc_clase_auxiliar' title='${lbl:b_auxiliary_class}'  format='######' align='center' />
			<col name='trc_auxiliar' title='${lbl:b_auxiliary}'  format='######' align='center' />
			<col name='trc_fecha_registro_ini' title='${lbl:b_store_date_grater_than}'  format='dd-MM-yyyy' align='center' />
			<col name='trc_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnterceroscentrocosto.sql' width='100' spacingBefore='10'>
			<col name='ter_descripcion_corta_pl0' title='${lbl:b_outsourced_company}' width='10' align='left' />
			<col name='trc_codigo' title='${lbl:b_code}' width='10' align='left' />
			<col name='trc_descripcion_corta' title='${lbl:b_short_description}' width='10' align='left' />
			<col name='trc_descripcion_larga' title='${lbl:b_long_description}' width='10' align='left' />
			<col name='trc_responsable' title='${lbl:b_responsible}' width='10' align='left' />
			<col name='trc_tipo_cco_combo' title='${lbl:b_type}' width='10' align='left' />
			<col name='trc_nivel' title='${lbl:b_level}' width='10' align='left' format='######' />
			<col name='trc_clase_auxiliar' title='${lbl:b_auxiliary_class}' width='10' align='left' format='######' />
			<col name='trc_auxiliar' title='${lbl:b_auxiliary}' width='10' align='left' format='######' />
			<col name='trc_fecha_registro' title='${lbl:b_store_date}' width='10' align='left' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>