<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_auxiliary}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>
	
	<clear-session id="detail-smn_auxiliar_persona_natural.sql"/>


	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-aca_naturaleza_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-aca_empresa.sql' source='sql' scope='transaction'/>
		<recordset id='query-aca_sucursal.sql' source='sql' scope='transaction'/>
		<recordset id='query-aca_unidad_negocio.sql' source='sql' scope='transaction'/>
		<recordset id='query-aca_area_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-aca_unidad_servicio.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_tipo_doc_oficial.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_nacionalidad.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_direccion.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_cuenta_bancaria.sql' source='sql' scope='transaction'/>
		<recordset id='query-and_titular.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_contactos.sql' source='sql' scope='transaction'/>
		<recordset id='query-ant_condicion_financiera.sql' source='sql' scope='transaction'/>
		<recordset id='auxiliar' source='session' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-aca_naturaleza_auxiliar.sql' tag='aca_naturaleza_auxiliar_rows'/>
		<print mode='table' recordset='query-aca_empresa.sql' tag='aca_empresa_rows'/>
		<print mode='table' recordset='query-aca_sucursal.sql' tag='aca_sucursal_rows'/>
		<print mode='table' recordset='query-aca_unidad_negocio.sql' tag='aca_unidad_negocio_rows'/>
		<print mode='table' recordset='query-aca_area_servicio.sql' tag='aca_area_servicio_rows'/>
		<print mode='table' recordset='query-aca_unidad_servicio.sql' tag='aca_unidad_servicio_rows'/>
		<print mode='table' recordset='query-ant_tipo_doc_oficial.sql' tag='ant_tipo_doc_oficial2_rows'/>
		<print mode='table' recordset='query-ant_nacionalidad.sql' tag='ant_nacionalidad2_rows'/>
		<print mode='table' recordset='query-ant_direccion.sql' tag='ant_direccion2_rows'/>
		<print mode='table' recordset='query-ant_cuenta_bancaria.sql' tag='ant_cuenta_bancaria2_rows'/>
		<print mode='table' recordset='query-and_titular.sql' tag='and_titular2_rows'/>
		<print mode='table' recordset='query-ant_contactos.sql' tag='ant_contactos2_rows'/>
		<print mode='table' recordset='query-ant_condicion_financiera.sql' tag='ant_condicion_financiera2_rows'/>
		<print mode="form" recordset="auxiliar" /> 
		<print mode="form" recordset="_request" /> 
	</output>

</config>
