<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmediopago.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_half_payment}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_half_payment}">
				<col id='mpa_codigo' label='${lbl:b_code}' />
		<col id='mpa_descripcion' label='${lbl:b_description}' />
		<col id='mpa_tipo_medio_pago_combo' label='${lbl:b_type_half_payment}' />
		<col id='mpa_estatus_combo' label='${lbl:b_status}' />
		<col id='mpa_vigencia' label='${lbl:b_date_vig}' />
		<col id='mpa_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
