<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('ent_descripcion_corta','query-smnsucursales.sql')" >${lbl:b_entity}</th>
		<th class='sortable' onclick="sortBy('suc_codigo','query-smnsucursales.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('suc_nombre','query-smnsucursales.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('uen_nombre','query-smnsucursales.sql')" >${lbl:b_business_unit}</th>
		<th class='sortable' onclick="sortBy('suc_maneja_area_servicio_combo','query-smnsucursales.sql')" >${lbl:b_has_service_area}</th>
		<th class='sortable' onclick="sortBy('suc_responsable','query-smnsucursales.sql')" >${lbl:b_responsible}</th>
		<th class='sortable' onclick="sortBy('suc_fecha_registro','query-smnsucursales.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_sucursales_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_sucursales_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_sucursales_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:ent_descripcion_corta}</td>
		<td align="left">${fld:suc_codigo}</td>
		<td align="left">${fld:suc_nombre}</td>
		<td align="left">${fld:uen_nombre}</td>
		<td align="left">${fld:suc_maneja_area_servicio_combo}</td>
		<td align="left">${fld:suc_responsable}</td>
		<td align="center">${fld:suc_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
