<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpaso.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_paso}"/>
	
	<excel 
		recordset='query-smnpaso.sql' 
		sheetname='${lbl:b_paso}' 
		filename='${lbl:b_paso}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='pas_codigo' label='${lbl:b_code}' />
		<col id='pas_descripcion' label='${lbl:b_description}' />
		<col id='pas_cod_paso_anterior' label='${lbl:b_cod_last_step}' />
		<col id='pas_cod_paso_siguiente' label='${lbl:b_cod_next_step}' />
		<col id='pas_estatus_doc_combo' label='${lbl:b_status_doc}' />
		<col id='pas_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
