<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnauxiliarcategoria.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>aca_naturaleza_auxiliar</colname>
			<colname>aca_tipo_persona</colname>
			<colname>aca_empresa</colname>
			<colname>aca_sucursal</colname>
			<colname>aca_unidad_negocio</colname>
			<colname>aca_area_servicio</colname>
			<colname>aca_unidad_servicio</colname>
			<colname>aca_fecha_registro_ini</colname>
			<colname>aca_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_base.smn_auxiliar_categoria</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnauxiliarcategoria.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>aca_naturaleza_auxiliar;aca_tipo_persona;aca_empresa;aca_sucursal;aca_unidad_negocio;aca_area_servicio;aca_unidad_servicio;aca_fecha_registro_ini;aca_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
