<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrespuesta.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_respuesta}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_smn_respuesta}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_cuestionario_id_name' title='${lbl:b_smn_cuestionario_id}'  align='left' />
			<col name='smn_seccion_id_name' title='${lbl:b_smn_seccion_id}'  align='left' />
			<col name='smn_pregunta_id_name' title='${lbl:b_smn_pregunta_id}'  align='left' />
			<col name='smn_tipo_variable_id_name' title='${lbl:b_smn_tipo_variable_id}'  align='left' />
			<col name='smn_tipo_respuesta_id' title='${lbl:b_smn_tipo_respuesta_id}'  format='######' align='left' />
			<col name='smn_variable_id' title='${lbl:b_smn_variable}'  format='######' align='left' />
			<col name='res_texto_respuesta' title='${lbl:b_res_texto_respuesta}'  align='left' />
			<col name='cue_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='cue_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnrespuesta.sql' width='100' spacingBefore='10'>
			<col name='cue_codigo_pl0' title='${lbl:b_smn_cuestionario_id}' width='9' align='left' />
			<col name='sec_codigo_pl1' title='${lbl:b_smn_seccion_id}' width='9' align='left' />
			<col name='prg_codigo_pl2' title='${lbl:b_smn_pregunta_id}' width='9' align='left' />
			<col name='tva_codigo_pl3' title='${lbl:b_smn_tipo_variable_id}' width='9' align='left' />
			<col name='smn_tipo_respuesta_id_combo' title='${lbl:b_smn_tipo_respuesta_id}' width='9' align='left' format='######' />
			<col name='smn_variable_id' title='${lbl:b_smn_variable}' width='9' align='left' format='######' />
			<col name='res_texto_respuesta' title='${lbl:b_res_texto_respuesta}' width='9' align='left' />
			<col name='res_idioma' title='${lbl:s_profile_lang}' width='9' align='left' />
			<col name='res_usuario' title='${lbl:b_users}' width='9' align='left' />
			<col name='res_fecha_registro' title='${lbl:b_store_date}' width='9' align='left' format='dd-MM-yyyy' />
			<col name='res_hora' title='${lbl:s_loginhist_col2}' width='9' align='left' />

		</record>

	</pdf-report>
</config>
