<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_corporations}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-tcp_auxiliar_unidad_negocio.sql' source='sql' scope='transaction'/>
		<recordset id='query-tcp_moneda.sql' source='sql' scope='transaction'/>
		<recordset id='query-tcp_direccion.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-tcp_auxiliar_unidad_negocio.sql' tag='tcp_auxiliar_unidad_negocio_rows'/>
		<print mode='table' recordset='query-tcp_moneda.sql' tag='tcp_moneda_rows'/>
		<print mode='table' recordset='query-tcp_direccion.sql' tag='tcp_direccion_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
