<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_relacion_nivel_estructura_atributo_item}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_relacion_nivel_estructura_atributo_item}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_relacion_nivel_estructura_atributo_item}' width='60' spacingBefore='40'>
			<col name='smn_nivel_estructura_id_combo' title='${lbl:b_nivel_estructura}' align='left' format='######' />
			<col name='smn_atributo_item_id_combo' title='${lbl:b_atributos_item}' align='left' format='######' />
			<col name='rna_secuencia' title='${lbl:b_sequence}' align='left' format='######' />
		</record>


	</pdf-report>
</config>
