<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_auxiliary}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>
	
	<clear-session id="detail-smn_auxiliar_medico.sql"/>


	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-aca_clase_auxiliar.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_tipo_doc_oficial.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_nacionalidad.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_direccion.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_cuenta_bancaria.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_contactos.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_condicion_financiera.sql' source='sql' scope='transaction'/>
		<recordset id='query-aam_cond_pago.sql' source='sql' scope='transaction'/>

	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-aca_clase_auxiliar.sql' tag='aca_clase_auxiliar_rows'/>
		<print mode='table' recordset='query-aam_tipo_doc_oficial.sql' tag='aam_tipo_doc_oficial2_rows'/>
		<print mode='table' recordset='query-aam_nacionalidad.sql' tag='aam_nacionalidad2_rows'/>
		<print mode='table' recordset='query-aam_direccion.sql' tag='aam_direccion2_rows'/>
		<print mode='table' recordset='query-aam_cuenta_bancaria.sql' tag='aam_cuenta_bancaria2_rows'/>
		<print mode='table' recordset='query-aam_contactos.sql' tag='aam_contactos2_rows'/>
		<print mode='table' recordset='query-aam_condicion_financiera.sql' tag='aam_condicion_financiera2_rows'/>
		<print mode='table' recordset='query-aam_cond_pago.sql' tag='aam_cond_pago2_rows'/>

		<print mode="form" recordset="_request" /> 
	</output>

</config>
