<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnaccion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_accion}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_accion}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnaccion.sql' width='100' spacingBefore='40'>
			<col name='acc_codigo' title='${lbl:b_code}' width='14' align='left' />
			<col name='acc_descripcion' title='${lbl:b_description}' width='14' align='left' />
			<col name='acc_tipo_combo' title='${lbl:b_kind}' width='14' align='left' />
			<col name='smn_mensajes_rf_combo' title='${lbl:b_message}' width='14' align='left' format='######' />
			<col name='acc_metodo' title='${lbl:b_method}' width='14' align='left' />
			<col name='acc_tipo_acto_rol_combo' title='${lbl:b_kind_act_role}' width='14' align='left' />
			<col name='acc_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
