<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_clase_auxiliar_rf','query-smnauxiliarpersonacontacto.sql')" >${lbl:b_class_auxiliary}</th>
		<th class='sortable' onclick="sortBy('smn_auxiliar_rf','query-smnauxiliarpersonacontacto.sql')" >${lbl:b_auxiliary}</th>
		<th class='sortable' onclick="sortBy('apc_apellidos','query-smnauxiliarpersonacontacto.sql')" >${lbl:s_profile_lname}</th>
		<th class='sortable' onclick="sortBy('apc_nombres','query-smnauxiliarpersonacontacto.sql')" >${lbl:s_profile_fname}</th>
		<th class='sortable' onclick="sortBy('apc_telefono_contacto','query-smnauxiliarpersonacontacto.sql')" >${lbl:b_phone}</th>
		<th class='sortable' onclick="sortBy('apc_fecha_registro','query-smnauxiliarpersonacontacto.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_auxiliar_persona_contacto_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_auxiliar_persona_contacto_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_auxiliar_persona_contacto_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_clase_auxiliar_rf}</td>
		<td align="center">${fld:smn_auxiliar_rf}</td>
		<td align="left">${fld:apc_apellidos}</td>
		<td align="left">${fld:apc_nombres}</td>
		<td align="left">${fld:apc_telefono_contacto}</td>
		<td align="center">${fld:apc_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
