<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliarcategoria.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_auxiliary}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-smnauxiliarcategoria.sql' width='100' spacingBefore='40'>
			<col name='aca_naturaleza_auxiliar' title='${lbl:b_nature_auxiliary}' width='12' align='left' format='######' />
			<col name='aca_tipo_persona_combo' title='${lbl:b_kind_of_person}' width='12' align='left' />
			<col name='aca_empresa' title='${lbl:b_entity}' width='12' align='left' format='######' />
			<col name='aca_sucursal' title='${lbl:b_subsidiary}' width='12' align='left' format='######' />
			<col name='aca_unidad_negocio' title='${lbl:b_business_unit}' width='12' align='left' format='######' />
			<col name='aca_area_servicio' title='${lbl:b_service_area}' width='12' align='left' format='######' />
			<col name='aca_unidad_servicio' title='${lbl:b_service_unit}' width='12' align='left' format='######' />
			<col name='aca_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>