<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnnivelestructura.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_nivel_estructura}"/>
	
	<excel 
		recordset='query-smnnivelestructura.sql' 
		sheetname='${lbl:b_nivel_estructura}' 
		filename='${lbl:b_nivel_estructura}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_estructura_codigo_id_combo' label='${lbl:b_estructura_codigo}' />
		<col id='nes_niveles' label='${lbl:b_levels}' />
		<col id='nes_codigo' label='${lbl:b_code}' />
		<col id='nes_nombre' label='${lbl:b_name}' />
		<col id='nes_tipo_combo' label='${lbl:b_type}' />
		<col id='nes_idioma' label='${lbl:s_profile_lang}' />
		<col id='nes_usuario' label='${lbl:b_users}' />
		<col id='nes_fecha_registro' label='${lbl:b_store_date}' />
		<col id='nes_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
