<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>

	<!--toolbar-->
	<tr>
		<th colspan="17">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>



		<th class='sortable' onclick="sortBy('svc_codigo','query-smnservicios.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('svc_descripcion','query-smnservicios.sql')" >${lbl:b_description}</th>
		<th class='sortable' onclick="sortBy('svc_clase_auxiliar','query-smnservicios.sql')" >${lbl:b_auxiliary_class}</th>
		<th class='sortable' onclick="sortBy('svc_tipo_servicio','query-smnservicios.sql')" >${lbl:b_service_type}</th>
		<th class='sortable' onclick="sortBy('svc_area_servicio','query-smnservicios.sql')" >${lbl:b_service_area}</th>
		<th class='sortable' onclick="sortBy('svc_unidad_servicio','query-smnservicios.sql')" >${lbl:b_service_unit}</th>
		<th class='sortable' onclick="sortBy('svc_centro_costo','query-smnservicios.sql')" >${lbl:b_cost_centers}</th>
		<th class='sortable' onclick="sortBy('svc_frecuencia','query-smnservicios.sql')" >${lbl:b_frecuency}</th>
		<th class='sortable' onclick="sortBy('svc_precio_general','query-smnservicios.sql')" >${lbl:b_general_price}</th>
		<th class='sortable' onclick="sortBy('svc_inactivo_combo','query-smnservicios.sql')" >${lbl:b_inactive}</th>
		<th class='sortable' onclick="sortBy('svc_req_honorario_combo','query-smnservicios.sql')" >${lbl:b_require_honorary}</th>
		<th class='sortable' onclick="sortBy('svc_vigencia_desde','query-smnservicios.sql')" >${lbl:b_validation_date_from}</th>
		<th class='sortable' onclick="sortBy('svc_vigencia_hasta','query-smnservicios.sql')" >${lbl:b_validation_date_to}</th>
		<th class='sortable' onclick="sortBy('svc_requisitos','query-smnservicios.sql')" >${lbl:b_requirements}</th>
		<th class='sortable' onclick="sortBy('svc_trans_general','query-smnservicios.sql')" >${lbl:b_general_transaction}</th>
		<th class='sortable' onclick="sortBy('svc_compuesto','query-smnservicios.sql')" >${lbl:b_id_compound}</th>
		<th class='sortable' onclick="sortBy('svc_fecha_registro','query-smnservicios.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>



		<td align="left">${fld:svc_codigo}</td>
		<td align="left">${fld:svc_descripcion}</td>
		<td align="left">${fld:svc_clase_auxiliar}</td>
		<td align="left">${fld:svc_tipo_servicio}</td>
		<td align="left">${fld:svc_area_servicio}</td>
		<td align="left">${fld:svc_unidad_servicio}</td>
		<td align="left">${fld:svc_centro_costo}</td>
		<td align="left">${fld:svc_frecuencia@#,###,##0.00}</td>
		<td align="left">${fld:svc_precio_general@#,###,##0.00}</td>
		<td align="left">${fld:svc_inactivo_combo}</td>
		<td align="left">${fld:svc_req_honorario_combo}</td>
		<td align="left">${fld:svc_vigencia_desde@dd-MM-yyyy}</td>
		<td align="left">${fld:svc_vigencia_hasta@dd-MM-yyyy}</td>
		<td align="left">${fld:svc_requisitos}</td>
		<td align="left">${fld:svc_trans_general}</td>
		<td align="left">${fld:svc_compuesto}</td>
		<td align="left">${fld:svc_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
