<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smntasasimpositivas.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smntasasimpositivas.sql' sheetname='${lbl:b_tax_rates}' filename='filter.xls'>
		<col id='uim_codigo_pl0' label='${lbl:b_tax_unit}' />
		<col id='tim_fecha_vigencia' label='${lbl:b_validation_date}' />
		<col id='tim_valor' label='${lbl:b_value}' />
		<col id='tim_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>