<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncondicionfinanciera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_financiery_conditions}"/>
	
	<excel 
		recordset='query-smncondicionfinanciera.sql' 
		sheetname='${lbl:b_financiery_conditions}' 
		filename='${lbl:b_financiery_conditions}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='cfi_codigo' label='${lbl:b_code}' />
		<col id='cfi_description' label='${lbl:b_description}' />
		<col id='cfi_cant_dias' label='${lbl:b_quantity_days}' />
		<col id='cfi_limite_credito' label='${lbl:b_credit_limit}' />
		<col id='cfi_estatus_combo' label='${lbl:b_estatus}' />
		<col id='cfi_vigencia' label='${lbl:b_vigency}' />
		<col id='cfi_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
