<!--data grid-->
<table class="datagrid" style="width:90%;">

	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>

	<!--toolbar-->
	<tr>
		<th colspan="13">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>



		<th class='sortable' onclick="sortBy('ter_descripcion_corta_pl0','query-smntercerosusuarios.sql')" >${lbl:b_outsourced_company}</th>
		<th class='sortable' onclick="sortBy('tru_usuario_id','query-smntercerosusuarios.sql')" >${lbl:b_user}</th>
		<th class='sortable' onclick="sortBy('tru_comunidad','query-smntercerosusuarios.sql')" >${lbl:b_community}</th>
		<th class='sortable' onclick="sortBy('tru_nombres','query-smntercerosusuarios.sql')" >${lbl:s_profile_fname}</th>
		<th class='sortable' onclick="sortBy('tru_apellidos','query-smntercerosusuarios.sql')" >${lbl:s_profile_lname}</th>
		<th class='sortable' onclick="sortBy('tru_nacionalidad','query-smntercerosusuarios.sql')" >${lbl:b_citizenship}</th>
		<th class='sortable' onclick="sortBy('tru_nro_doc_identidad','query-smntercerosusuarios.sql')" >${lbl:b_identification_doc_number}</th>
		<th class='sortable' onclick="sortBy('tru_nro_id_fiscal','query-smntercerosusuarios.sql')" >${lbl:b_tax_identification_number}</th>
		<th class='sortable' onclick="sortBy('tru_direccion','query-smntercerosusuarios.sql')" >${lbl:b_address}</th>
		<th class='sortable' onclick="sortBy('tru_email','query-smntercerosusuarios.sql')" >${lbl:s_profile_email}</th>
		<th class='sortable' onclick="sortBy('tru_telefono_fijo','query-smntercerosusuarios.sql')" >${lbl:b_fixed_phone}</th>
		<th class='sortable' onclick="sortBy('tru_telefono_movil','query-smntercerosusuarios.sql')" >${lbl:b_mobile_phone}</th>
		<th class='sortable' onclick="sortBy('tru_fecha_registro','query-smntercerosusuarios.sql')" >${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>



		<td align="left">${fld:ter_descripcion_corta_pl0}</td>
		<td align="left">${fld:tru_usuario_id}</td>
		<td align="left">${fld:tru_comunidad}</td>
		<td align="left">${fld:tru_nombres}</td>
		<td align="left">${fld:tru_apellidos}</td>
		<td align="left">${fld:tru_nacionalidad}</td>
		<td align="left">${fld:tru_nro_doc_identidad}</td>
		<td align="left">${fld:tru_nro_id_fiscal}</td>
		<td align="left">${fld:tru_direccion}</td>
		<td align="left">${fld:tru_email}</td>
		<td align="left">${fld:tru_telefono_fijo}</td>
		<td align="left">${fld:tru_telefono_movil}</td>
		<td align="center">${fld:tru_fecha_registro@dd-MM-yyyy}</td>
	</tr>
	</rows>

</table>
