<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmonedas.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_coins}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='mon_codigo' title='${lbl:b_code}'  align='center' />
			<col name='mon_nombre' title='${lbl:b_name}'  align='center' />
			<col name='mon_fecha_registro_ini' title='${lbl:b_store_date_grater_than}'  format='dd-MM-yyyy' align='center' />
			<col name='mon_fecha_registro_fin' title='${lbl:b_store_date_less_than}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnmonedas.sql' width='100' spacingBefore='10'>
			<col name='mon_codigo' title='${lbl:b_code}' width='33' align='left' />
			<col name='mon_nombre' title='${lbl:b_name}' width='33' align='left' />
			<col name='mon_fecha_registro' title='${lbl:b_store_date}' width='33' align='left' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>