<!--data grid-->
<table class="datagrid" style="width:650px;">

	<col width="3%"/>
	<col width="3%"/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>
	<col width='5%'/>


	<!--toolbar-->
	<tr>
		<th colspan="13" style="font-size: 10pt; font-weight: bold;">
			Registros cargados en ${lbl:b_baremos}
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th colspan="2"></th>
		<th style="text-align:center">${lbl:b_type}</th>
		<th style="text-align:center">${lbl:b_auxiliary}</th>
		<th style="text-align:center">${lbl:b_service}</th>
		<th style="text-align:center">${lbl:b_type_compound}</th>
		<th style="text-align:center">${lbl:b_item_code}</th>
		<th style="text-align:center">${lbl:b_store_code}</th>
		<th style="text-align:center">${lbl:b_calculus}</th>
		<th style="text-align:center">${lbl:b_amount}</th>
		<th style="text-align:center">${lbl:b_price}</th>
		<th style="text-align:center">${lbl:b_percentage}</th>
		<th style="text-align:center">${lbl:b_inactive}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/delete.png" onclick="detailDelete(${fld:_rowIndex},'detailsmn_baremos_detalle','2')" title="Eliminar"></td>
		<td><img src="${def:context}/images/edit.png" onclick="detailEdit(${fld:_rowIndex},'detailsmn_baremos_detalle','2')" title="Editar"></td>
		<td align="left">${fld:bad_tipo2_name}</td>
		<td align="left">${fld:bad_auxiliar2_name}</td>
		<td align="left">${fld:bad_servicio2_name}</td>
		<td align="left">${fld:bad_tipo_compuesto2_name}</td>
		<td align="left">${fld:bad_codigo_articulo2}</td>
		<td align="left">${fld:bad_almacen2_name}</td>
		<td align="left">${fld:bad_calculo2_name}</td>
		<td align="left">${fld:bad_cantidad2@#,###,##0.00}</td>
		<td align="left">${fld:bad_precio2@#,###,##0.00}</td>
		<td align="left">${fld:bad_porcentaje2@#,###,##0.00}</td>
		<td align="left">${fld:bad_inactivo2_name}</td>
	</tr>
	</rows>

</table>