<!--data grid-->
<table class="datagrid rowhover oneCellRow" style="width:90%;">

	<col width='50%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th onclick="sortBy('gpp_codigo','query-smngruposprestadores.sql')" class="sortable" >${lbl:b_code}</th>
		<th onclick="sortBy('gpp_descripcion','query-smngruposprestadores.sql')" class="sortable" >${lbl:b_description}</th>
	</tr>

	<!--data-->
	<rows>
	<tr onclick="selectItem('${fld:smn_grupos_prestadores_id}')" >
		<td style="font-size: 9pt;" align="center"><span id="${fld:smn_grupos_prestadores_id}">${fld:gpp_codigo}</span></td>
		<td style="font-size: 9pt;" align="center">${fld:gpp_descripcion}</td>
	</tr>
	</rows>

</table>