<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnincrementos.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_increment}"/>
	
	<excel 
		recordset='query-smnincrementos.sql' 
		sheetname='${lbl:b_increment}' 
		filename='${lbl:b_increment}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='inc_codigo' label='${lbl:b_code}' />
		<col id='inc_descripcion' label='${lbl:b_description}' />
		<col id='inc_apli_cant_precio' label='${lbl:b_apply_quantity_price}' />
		<col id='inc_porcentaje_base' label='${lbl:b_percentage_base}' />
		<col id='inc_porcentaje_incremento' label='${lbl:b_percentage_increment}' />
		<col id='inc_apli_todos_it' label='${lbl:b_apply_item}' />
		<col id='inc_apli_todos_se' label='${lbl:b_apply_services}' />
		<col id='inc_apli_todos_af' label='${lbl:b_apply_fixed_asset}' />
		<col id='inc_estatus' label='${lbl:b_status}' />
		<col id='inc_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
