<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnestructuraorganizacional.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnestructuraorganizacional.sql' sheetname='${lbl:b_organizational_structure}' filename='filter.xls'>
		<col id='smn_configuracion_estructura_id_combo' label='${lbl:b_structure_configuration}' />
		<col id='eor_codigo' label='${lbl:b_code}' />
		<col id='eor_nombre' label='${lbl:b_name}' />
		<col id='eor_centro_costo_combo' label='${lbl:b_cost_centers}' />
		<col id='eor_clase_auxiliar_combo' label='${lbl:b_auxiliary_class}' />
		<col id='eor_auxiliar_combo' label='${lbl:b_auxiliary}' />
		<col id='eor_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>