<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
	<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />
<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='20%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='12%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls}
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("naa_nombre","query-smnauxiliarcategoria.sql")'>${lbl:b_auxiliary_class}</th>
		<th class='sortable' onclick='sortBy("ent_descripcion_corta","query-smnauxiliarcategoria.sql")'>${lbl:b_entity}</th>
		<th class='sortable' onclick='sortBy("suc_nombre","query-smnauxiliarcategoria.sql")'>${lbl:b_subsidiary}</th>
		<th class='sortable' onclick='sortBy("uen_nombre","query-smnauxiliarcategoria.sql")'>${lbl:b_business_unit}</th>
		<th class='sortable' onclick='sortBy("ase_descripcion","query-smnauxiliarcategoria.sql")'>${lbl:b_service_area}</th>
		<th class='sortable' onclick='sortBy("aca_fecha_registro","query-smnauxiliarcategoria.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_auxiliar_categoria_id}','${fld:naturaleza_aux}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_auxiliar_categoria_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_auxiliar_categoria_id}','${fld:naturaleza_aux}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:naa_nombre}</td>
		<td align='left'>${fld:ent_descripcion_corta}</td>
		<td align='left'>${fld:suc_nombre}</td>
		<td align='left'>${fld:uen_nombre}</td>
		<td align='left'>${fld:ase_descripcion}</td>
		<td>${fld:aca_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
