<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_groups_of_providers}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_groups_of_providers}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_groups_of_providers}' width='60' spacingBefore='40'>
			<col name='gpp_codigo' title='${lbl:b_code}' align='left' />
			<col name='gpp_descripcion' title='${lbl:b_description}' align='left' />
			<col name='ase_descripcion' title='${lbl:b_service_area}' align='left'  />
			<col name='uns_descripcion' title='${lbl:b_service_unit}' align='left'  />
			<col name='gpp_orden_atencion' title='${lbl:b_in_order_of_attention}' align='left' />
			<col name='gpp_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
		</record>


	</pdf-report>
</config>
