<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smngruposprestadores.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smngruposprestadores.sql' sheetname='${lbl:b_groups_of_providers}' filename='smn_grupos_prestadores.xls'>
		<col id='gpp_codigo' label='${lbl:b_code}' />
		<col id='gpp_descripcion' label='${lbl:b_description}' />
		<col id='gpp_area_servicio' label='${lbl:b_service_area}' />
		<col id='gpp_unidad_servicio' label='${lbl:b_service_unit}' />
		<col id='gpp_orden_atencion_combo' label='${lbl:b_in_order_of_attention}' />
		<col id='gpp_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>