<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />
<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('trs_codigo','query-smnauxiliarsucursales.sql')" >${lbl:b_code}</th>
		<th class='sortable' onclick="sortBy('trs_nombre','query-smnauxiliarsucursales.sql')" >${lbl:b_name}</th>
		<th class='sortable' onclick="sortBy('tun_nombre','query-smnauxiliarsucursales.sql')" >${lbl:b_outsourced_unit_business}</th>
		<th class='sortable' onclick="sortBy('trs_responsable','query-smnauxiliarsucursales.sql')" >${lbl:b_responsible}</th>
		<th class='sortable' onclick="sortBy('dir_descripcion','query-smnauxiliarsucursales.sql')" >${lbl:b_address}</th>
		<th class='sortable' onclick="sortBy('trs_telefono_fijo','query-smnauxiliarsucursales.sql')" >${lbl:b_fixed_phone}</th>
		<th class='sortable' onclick="sortBy('trs_fecha_registro','query-smnauxiliarsucursales.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_auxiliar_sucursales_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_auxiliar_sucursales_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_auxiliar_sucursales_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:trs_codigo}</td>
		<td align="left">${fld:trs_nombre}</td>
		<td align="left">${fld:tun_nombre}</td>
		<td align="left">${fld:trs_responsable}</td>
		<td align="left">${fld:dir_descripcion}</td>
		<td align="left">${fld:trs_telefono_fijo}</td>
		<td align="center">${fld:trs_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
