<!--data grid-->
<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />

<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='14%'/>
	<col width='12%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls}
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("tun_codigo","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("tun_nombre","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_name}</th>
		<th class='sortable' onclick='sortBy("tun_responsable","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_responsible}</th>
		<th class='sortable' onclick='sortBy("dir_descripcion","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_address}</th>
		<th class='sortable' onclick='sortBy("tun_telefono_fijo","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_fixed_phone}</th>
		<th class='sortable' onclick='sortBy("tun_email","query-smnauxiliarunidadesnegocios.sql")'>${lbl:s_profile_email}</th>
		<th class='sortable' onclick='sortBy("tun_fecha_registro","query-smnauxiliarunidadesnegocios.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_auxiliar_unidades_negocios_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_auxiliar_unidades_negocios_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_auxiliar_unidades_negocios_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:tun_codigo}</td>
		<td align='left'>${fld:tun_nombre}</td>
		<td align='left'>${fld:tun_responsable}</td>
		<td align='left'>${fld:dir_descripcion}</td>
		<td align='left'>${fld:tun_telefono_fijo}</td>
		<td align='left'>${fld:tun_email}</td>
		<td>${fld:tun_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
