<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>imp_codigo</colname>
			<colname>imp_descripcion</colname>
			<colname>imp_tipo_codigo</colname>
			<colname>imp_modalidad_registro</colname>
			<colname>imp_porcentaje_base</colname>
			<colname>imp_porcentaje_calculo</colname>
			<colname>imp_tipo_libro</colname>
			<colname>imp_tipo_persona</colname>
			<colname>imp_tipo_contribuyente</colname>
			<colname>imp_unidad_impositiva</colname>
			<colname>imp_ui_minima</colname>
			<colname>imp_ui_maxima</colname>
			<colname>imp_ui_sustraendo</colname>
			<colname>imp_monto_minimo</colname>
			<colname>imp_monto_maximo</colname>
			<colname>imp_monto_sustraendo</colname>
		
		</cols>
		<table>smn_base.smn_codigos_impuestos</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
