	<link rel="stylesheet" type="text/css" href="${def:context}/dinamica_bkp.css" />
	<link rel="stylesheet" type="text/css" href="${def:context}/main.css" />
<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='33%'/>
	<col width='30%'/>
	<col width='15%'/>
	<col width='33%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("prd_codigo","query-smnperiodos.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("prd_descripcion","query-smnperiodos.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("prd_ano","query-smnperiodos.sql")'>${lbl:b_anio}</th>
		<th class='sortable' onclick='sortBy("prd_fecha_registro","query-smnperiodos.sql")'>${lbl:b_store_date}</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_periodos_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_periodos_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_periodos_id}')" title="${lbl:b_edit_button}"></td>
		<td align='left'>${fld:prd_codigo}</td>
		<td align='left'>${fld:prd_descripcion}</td>
		<td align='center'>${fld:prd_ano}</td>
		<td>${fld:prd_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
