<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnconexiones.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_conexiones_bd}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_conexiones_bd}">
				<col id='con_sistema' label='${lbl:b_system}' />
		<col id='con_descripcion' label='${lbl:b_description}' />
		<col id='smn_entidad_rf' label='${lbl:b_company}' />
		<col id='smn_sucursal_rf' label='${lbl:b_subsidiary}' />
		<col id='con_ip_servidor' label='${lbl:b_ip_server}' />
		<col id='con_hostname_instancia' label='${lbl:b_server_name}' />
		<col id='con_nombre_bd' label='${lbl:b_database_name}' />
		<col id='con_usuario_bd' label='${lbl:b_database_user}' />
		<col id='con_clave_bd' label='${lbl:b_database_password}' />
		<col id='con_puerto_bd' label='${lbl:b_database_port}' />
		<col id='con_estatus' label='${lbl:b_status}' />
		<col id='con_vigencia' label='${lbl:b_effectivity_date}' />
		<col id='con_idioma' label='${lbl:s_profile_lang}' />
		<col id='con_usuario' label='${lbl:b_users}' />
		<col id='con_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
