<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncentrocosto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smncentrocosto.sql' sheetname='${lbl:b_cost_centers}' filename='filter.xls'>
		<col id='cco_codigo' label='${lbl:b_code}' />
		<col id='cco_descripcion_corta' label='${lbl:b_short_description}' />
		<col id='cco_descripcion_larga' label='${lbl:b_long_description}' />
		<col id='cco_empresa' label='${lbl:b_entity}' />
		<col id='cco_sucursal' label='${lbl:b_subsidiary}' />
		<col id='cco_area_servicio' label='${lbl:b_service_area}' />
		<col id='cco_unidad_servicio' label='${lbl:b_service_unit}' />
		<col id='cco_almacen' label='${lbl:b_store}' />
		<col id='cco_nivel_combo' label='${lbl:b_level}' />
		<col id='cco_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>