<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_tipos_areas_id","query-smnareasservicios.sql")'>${lbl:b_types_area}</th>
		<th class='sortable' onclick='sortBy("ase_codigo","query-smnareasservicios.sql")'>${lbl:b_code}</th>
		<th class='sortable' onclick='sortBy("ase_descripcion","query-smnareasservicios.sql")'>${lbl:b_description}</th>
		<th class='sortable' onclick='sortBy("ent_descripcion_corta","query-smnareasservicios.sql")'>${lbl:b_entity}</th>
		<th class='sortable' onclick='sortBy("suc_nombre","query-smnareasservicios.sql")'>${lbl:b_subsidiary}</th>
		<th class='sortable' onclick='sortBy("uen_nombre","query-smnareasservicios.sql")'>${lbl:b_business_unit}</th>
		<th class='sortable' onclick='sortBy("ase_fecha_registro","query-smnareasservicios.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_areas_servicios_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_areas_servicios_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_areas_servicios_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_tipos_areas_id}</td>
		<td align='left'>${fld:ase_codigo}</td>
		<td align='left'>${fld:ase_descripcion}</td>
		<td>${fld:ent_descripcion_corta}</td>
		<td>${fld:suc_nombre}</td>
		<td>${fld:uen_nombre}</td>
		<td>${fld:ase_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
