<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnatributovalor.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_valor_atributo}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_valor_atributo}">
				<col id='smn_atributo_item_id_combo' label='${lbl:b_atributos_item}' />
		<col id='atv_codigo' label='${lbl:b_code}' />
		<col id='atv_descripcion' label='${lbl:b_description}' />
		<col id='atv_fecha_vigencia_desde' label='${lbl:b_validation_date_from}' />
		<col id='atv_fecha_vigencia_hasta' label='${lbl:b_validation_date_until}' />
		<col id='atv_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
