<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnauxiliartercero.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-smnauxiliartercero.sql' sheetname='${lbl:b_intermediary_assistant}' filename='smn_auxiliar_categoria_tercero.xls'>
		<col id='aca_tipo_persona_pl0' label='${lbl:b_auxiliary}' />
		<col id='atr_codigo' label='${lbl:b_code}' />
		<col id='atr_descripcion' label='${lbl:b_description}' />
		<col id='atr_comunidad' label='${lbl:b_community}' />
		<col id='atr_auxiliar_corporacion' label='${lbl:b_outsourced_corporation}' />
		<col id='atr_auxiliar_unidad_negocio' label='${lbl:b_outsourced_unit_business}' />
		<col id='atr_maneja_sucursal_combo' label='${lbl:b_has_subsidiary}' />
		<col id='atr_razon_social' label='${lbl:b_business_name}' />
		<col id='atr_denom_comercial' label='${lbl:b_designation_commercial}' />
		<col id='atr_beneficiario' label='${lbl:b_beneficiary}' />
		<col id='atr_tipo_doc_oficial' label='${lbl:b_official_document_type}' />
		<col id='atr_num_doc_oficial' label='${lbl:b_official_document_number}' />
		<col id='atr_clasif_abc_combo' label='${lbl:b_abc_clasification}' />
		<col id='atr_rif' label='${lbl:b_tax_id}' />
		<col id='atr_direccion' label='${lbl:b_business_address}' />
		<col id='atr_cuenta_bancaria' label='${lbl:b_auxiliary_bank_account}' />
		<col id='atr_contactos' label='${lbl:b_auxiliary_contact}' />
		<col id='atr_persona_contacto' label='${lbl:b_contact_person}' />
		<col id='atr_representante_legal' label='${lbl:b_legal_representative}' />
		<col id='atr_benef_pago' label='${lbl:b_beneficiary_payments}' />
		<col id='atr_cond_pago' label='${lbl:b_condition_payments}' />
		<col id='atr_tipo_facturac_combo' label='${lbl:b_billing_type}' />
		<col id='atr_condicion_financiera' label='${lbl:b_financial_condition}' />
		<col id='atr_observacion' label='${lbl:b_observation}' />
		<col id='atr_fecha_registro' label='${lbl:b_store_date}' />
	</excel>

</config>